{% extends 'base.html.twig' %}

{% block body %}
    <div class="comments container">
        {% if commentsdogs | length %}
            <div class='reviews-title underlined-orange'>{{"total.question_about.dogs"|trans}}</div>
            <div class='reviews-comments-list'>
                {% for comment in commentsdogs %}
                    <div class="reviews-comment-item">
                        <div class="date">
                            {% if comment.cdate %}{{ comment.cdate|date('Y-m-d') }}{% endif %}
                        </div>
                        <div class="title">
                            <strong>
                            <span class='opacity-text'>
                                {{"comments.author"|trans}}:
                            </span>
                            {{ comment.klname }}
                            </strong>
                        </div>
                        <div class="title">
                            <strong>
                            <span class='opacity-text'>
                                {{"comments.subject"|trans}}:
                            </span>
                            {{ comment.name}}</strong>
                        </div>
                        <div class="text">
                            <span class='opacity-text'>
                                {{"comments.phone"|trans}}:
                            </span>
                            {{ comment.phone }}
                        </div>
                        <div class="text">
                            <span class='opacity-text'>
                                {{"comments.email"|trans}}:
                            </span>
                            {{ comment.email }}
                        </div>
                        
                        <div class="text">
                            {{ comment.question }}
                        </div>                    
                        <div class="button-container">
                            <a class="orange-submit" href="{{ path('delete_route_name', {'id': comment.idComments }) }}">{{'total.delete'|trans}}</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endblock %}
