{% extends 'base.html.twig' %}

{% block body %}
    <div class='container'>
        <div class='news-container container'>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class='button-container'>
                    <a class="orange-submit" href="{{ path('news_new') }}">{{ "total.create"|trans }}</a>
                </div>
            {% endif %}
            <div class='news-list'>
                {% for news in news %}
                    <div class="news-item">
                        <div class="news-item-image">
                            <img src="{{photo_path}}{{news.photo}}"/>
                        </div>
                        <div class="news-item-title underlined-orange">
                            <a class='interactive-element' href='{{path('news_show', {'idNews': news.idNews})}}'>{{ get_translated(news, 'title') }}</a>
                        </div>
                        <div class="news-item-description">
                            {{ news.newsdesc|length <= 1000 ? get_translated(news, 'newsdesc') : get_translated(news, 'newsdesc')|slice(0, 1000)~'...' }}
                        </div>
                        <div class="cats-house-news-more">
                            <a class='interactive-element' href='{{path('news_show', {'idNews': news.idNews})}}'>
                                {{'main.cats-house.more'|trans}}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
