{% extends 'base.html.twig' %}

{% block body %}
    <div class='container'>
        <div class='news-page'>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class='button-container'>
                    <a class="orange-submit" href="{{ path('news_edit', { 'idNews': news.idNews }) }}">{{"total.edit"|trans}}</a>
                </div>
            {% endif %}
            <div class="news-item-image">
                <a class='colorbox group1' href='{{photo_path}}{{news.photo}}'><img src="{{photo_path}}{{news.photo}}"/></a>
            </div>

            <div class="news-item-title underlined-orange">
                {{ get_translated(news, 'title') }}
            </div>
            <div class="news-item-description">
                {{ get_translated(news, 'newsdesc') }}
            </div>
            <div class='news-item-photos'>
                {% for photo in photos %}
                    <div class='photo-item'><a class='colorbox group1' href='{{photo_path}}{{photo.photo}}'><img src="{{photo_path}}{{photo.photo}}"/></a></div>
                        {% endfor %}
            </div>
            <div class='videos'>
                {% for video in videos %}
                    <div class='video-item'>{{video.video|raw}}</div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        $('a.colorbox').colorbox({rel: 'group1'});
    </script>
{% endblock %}
