{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/jcarousel.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class='container cats-show-container'>
        <div class='cats-list-item'>

            <div class="cats-photos-container">
                <div class='cats-photo-container'>
                    <a class='colorbox group1' href='{{photo_path}}{{dog.photo}}'><img class='cats-photo' src="{{photo_path}}{{dog.photo}}" ></a>
                </div>

                {% if dog.dogsPhotos|length %}
                    <div class="cats-other-photos-container">
                        <div class="cats-other-photos-wrapper">
                            <div class="cats-photo-jcarousel" data-jcarousel="true">
                                <ul style="left: 0px; top: 0px;">
                                    {% for photo in dog.dogsPhotos %}
                                        <li><a class='colorbox group1' href='{{photo_path}}{{photo.photo}}'><img src="{{photo_path}}{{photo.photo}}"/></a></li>
                                            {% endfor %}
                                </ul>
                            </div>
                            <a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
                            <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class='cats-about-container'>
                <div class="cats-title">
                    <div class='cats-sex'>
                        <img src='{{ asset('bundles/app/img/sex/'~dog.sex~'.png') }}'>
                    </div>
                    <div class='cats-name'>
                        {{ get_translated(dog, 'name') }}
                    </div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a  class='cats-edit' href="{{ path('dogs_edit', { 'id': dog.idDogs }) }}"><img src='{{ asset('bundles/app/img/edit.png') }}'></a>
                        {% endif %}
                </div>
                <div>
                    {{"dogs.about.dogage"|trans}}:
                    {% set age = calculate_age(dog.bdate) %}
                    {% transchoice age.y with {'%month%': age.m, '%year%': age.y} %}
                    dogs.about.age
                    {% endtranschoice %}
                </div>
                <div>
                    {{"dogs.about.vaccinations"|trans}}:
                    {% if dog.dogVaccinations | length %}
                        {% for vacc in dog.dogVaccinations %}
                            <div>{{vacc.vaccinations}}</div>
                        {% endfor %}
                    {% else %}
                        <span> - </span>
                    {% endif %}
                </div>
                <div>
                    {{"dogs.about.birthday"|trans}}:
                    {{ dog.bdate |date('d.m.Y') }}
                </div>
                <div class='cats-description'>
                    {{ get_translated(dog, 'description') }}
                </div>

                <div class='cats-buttons-container'>
                    <a class="colorbox-form orange-button" data-form-id="ask-question-form">{{'total.askquestion'|trans}}</a>
                </div>


            </div>

        </div>
        {% if dog.videos|length %}
            <div class='videos'>
                {% for video in dog.videos %}
                    <div class='video-item'>{{video.video|raw}}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="popup-form" id="ask-question-form">
        <div class="ask-question colored-header">
            {{'total.askquestion'|trans}}
        </div>
        <div class="cats-add-question">
            {{ form_start(form) }}
            <div>
                {{ form_widget(form.klname, {'attr': {'placeholder': 'reviews.label.name'|trans} })}}
                {{ form_widget(form.email, {'attr': {'placeholder': 'reviews.label.email'|trans} })}}
                {{ form_widget(form.phone, {'attr': {'placeholder': 'reviews.label.phone'|trans} })}}
            </div>
            <div class="question-form">
                {{ form_widget(form.question, {'attr': {'placeholder': 'reviews.label.comment'|trans, 'rows': 5} }) }}
            </div>
            <div class='button-container'>
                <input class="orange-submit" type="submit" value={{'total.send'|trans}} />
            </div>
            
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset("bundles/app/js/jquery.jcarousel.min.js")}}"></script>
    <script type="text/javascript">
        $(function () {
            $('.cats-photo-jcarousel').jcarousel({
                wrap: 'circular'
            });

            $('.jcarousel-control-prev')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

            $('.jcarousel-control-next')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });
        });
    </script>
{% endblock %}
