{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/jcarousel.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="cats-house-preview container">
        <div class="cats-house-info">
            <div class="cats-house-logo logo">
                <img class="logo-img" src="{{ asset('bundles/app/img/logo.png') }}"/>
                <div class="logo-text">cats house</div>
            </div>
            <div class="cats-house-header">{{"main.cats-house.header"|trans}}</div>
            <div class="cats-house-text">{{"main.cats-house.text"|trans}}</div>
            <a href="{{path("dogs_index")}}"><div class="orange-button choose-pet-button">{{"main.cats-house.choose"|trans}}</div></a>
        </div>
    </div>
    <div class="cats-house-donate container">
        <div class="cats-house-info">
            <div class="cats-house-header">
                {{'main.cats-house.donate.header'|trans}}
            </div>
            <div class="cats-house-text">
                {{'main.cats-house.donate.text'|trans}}
            </div>
            <div class="orange-button choose-pet-button">{{"main.cats-house.donate.button"|trans}}</div>

        </div>
    </div>
    <div class="cats-house-list container">
        {% for dog in dogs %}
            <div class="cats-house-list-item">
                <div class="cats-house-photo">
                    <img class='cats-house-img' src="{{photo_path}}{{dog.photo}}" >
                </div>
                <a href="{{ path('dogs_show', { 'id': dog.idDogs }) }}">
                    <div class='cats-house-name-overlay'>
                        {{ get_translated(dog, 'name') }}>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% if news|length %}
        <div class="cats-house-news container">
            <div class="cats-house-news-list">
                {% for news in news %}
                    <div class="cats-house-news-item">

                        <div class="cats-house-news-title underlined-orange">
                            <a class='interactive-element' href='{{path('news_show', {'idNews': news.idNews})}}'>{{ get_translated(news, 'title') }}</a>
                        </div>
                        <div class="cats-house-news-description">
                            {{ news.newsdesc|length <= 300 ? get_translated(news, 'newsdesc') : get_translated(news, 'newsdesc')|slice(0, 300)~'...' }}
                        </div>
                        <div class="cats-house-news-more">
                            <a class='interactive-element' href='{{path('news_show', {'idNews': news.idNews})}}'>
                                {{'main.cats-house.more'|trans}}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset("bundles/app/js/jquery.jcarousel.min.js")}}"></script>
    <script type="text/javascript">
        $(function () {
            $('.jcarousel').jcarousel({
                wrap: 'circular'
            });

            $('.jcarousel-control-prev')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

            $('.jcarousel-control-next')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });

        });
    </script>
{% endblock %}
